<div class="container">
    <div class="main">
  
      <div class="left">
        <div class="button__container">
          <button class="button button__menu">
            <img src="assets/Menu.svg" class="button__image" alt="Menu">
          </button>
          <p>МЕНЮ</p>
        </div>
        <p class="title title__sport">БЛИЖАЙШИЕ ТУРНИРЫ</p>
      </div>
    </div>
    <div class="center">
        <div class="sorev">
            <p class="title title__sor">Дата</p>
            <p class="title title__sor">Тип турнира</p>
            <p class="title title__sor">Кто может участвовать</p>
            <p class="title title__sor">Количество участников</p>
        </div>
        <div class="sorev">
            <p class="title title__sor">Дата</p>
            <p class="title title__sor">Тип турнира</p>
            <p class="title title__sor">Кто может участвовать</p>
            <p class="title title__sor">Количество участников</p>
        </div>
        <div class="sorev">
            <p class="title title__sor">Дата</p>
            <p class="title title__sor">Тип турнира</p>
            <p class="title title__sor">Кто может участвовать</p>
            <p class="title title__sor">Количество участников</p>
        </div>
    </div>
    <div class="footer">
        <button class="button button__enter">ПОЛНЫЙ СПИСОК ТУРНИРОВ</button>
    </div>
</div>
  