<div class="container">
  <div class="main">

    <div class="left">
      <div class="button__container">
        <button class="button button__menu">
          <img src="assets/Menu.svg" class="button__image" alt="Menu">
        </button>
        <p>МЕНЮ</p>
      </div>
      <p class="title title__sport">SPORT</p>
    </div>

    <div class="right">
      <button class="button button__enter" [routerLink]="['/sign-in']">Войти</button>
      <div class="title title__main">
        <h1 class="title__h1">ПОРТАЛ ДЛЯ ПРОВЕДЕНИЯ ТУРНИРОВ</h1>
        <p class="title__p">Открытое соревнование среди школьников</p>
      </div>
    </div>

  </div>

  <div class="footer">
    <button class="button button__arrow">
      <img src="assets/arrow.svg" alt="arrow">
    </button>
  </div>



</div>
